[executor]
name=##
deadline_minutes=479
[remote]
branches=##
[local]
tree_path=##
base_path=##
[www]
url=##
[vm]
cpus=4
setup=. #nipa/contest/scripts/vm-virtio-loop.sh
qemu_opt=-device virtio-net-pci,netdev=n0,iommu_platform=on,disable-legacy=on,mq=on,vectors=18 -netdev tap,id=n0,ifname=tap4,vhost=on,script=no,downscript=no,queues=8 -device virtio-net-pci,netdev=n1,iommu_platform=on,disable-legacy=on,mq=on,vectors=18 -netdev tap,id=n1,ifname=tap5,vhost=on,script=no,downscript=no,queues=8
[ksft]
target=drivers/net drivers/net/hw
nested_tests=on
[device]
info_script=#nipa/contest/scripts/vm-virtio-dev-info.sh
[cfg]
thread_cnt=1
thread_spawn_delay=2
