table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #eeeeee;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 1em;
}

.box {
    position: absolute;
    right: 1em;
}

.box p {
    border: 1px solid grey;
    padding: 1em;
    border-radius: 0.2em;
}

#contest-filters {
    margin: 1em;
    padding: 1em;
    border: solid grey 1px;
}

#flake-link {
    margin: 1em;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #b8b8b8;
        background: #202020;
    }
    canvas {
        background-color: #303030;
    }
    a {
        color: #809fff;
    }
    tr, th, td {
        border-color: #181818;
    }
    tr:nth-child(even) {
        background-color: #282828;
    }
    tr:nth-child(odd) {
        background-color: #303030;
    }
}
