[log]
type = org
path = /nipa-run/nipa.path.log.org
file = /nipa-run/nipa.file.log.org

[results]
dir = /nipa-run/results

[dirs]
tests = /nipa/tests

# In the default run, there are 3 checks (the ones named like
# `build_*`), that are slow (they build the kernel).
#
# Since it's difficult to get everything formally right with a
# patchset (coding style, maintainer CC, etc.), we provide this
# config, that disables these 3 checks, so you get an output from the
# other checks quickly.  You can use this config when your code is
# already good, and you are just working through the formalities.
#
# Please DO NOT submit patches that have never passed the slow checks.
#
# [tests]
# exclude = patch/build_32bit,patch/build_allmodconfig_warn,patch/build_clang
