body {
    font-family: "roboto mono", helvetica, nunito;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #eeeeee;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}

.end-row td {
    border-width: 1px 1px 6px 1px;
    border-color: white;
}

.summary-row td {
    text-align: right;
    font-style: italic;
}

.column-sorted {
    background-color: #d0d0d0;
}

.box-pass  { background-color: green; }
.box-skip  { background-color: royalblue; }
.box-flake { background-color: red; }
.box-fail  { background-color: #d06060; }

@media screen and (max-resolution: 116dpi) {
    .row {
	display: flex;
    }

    .column {
	flex: 50%;
	padding: 1em;
    }
}

/* layout inside fieldsets even on small screens */
.row-small {
    display: flex;
}
.column-small {
    flex: 50%;
    padding: 1em;
}

.box {
    position: absolute;
    right: 1em;
}

.box p {
    border: 1px solid grey;
    padding: 1em;
    border-radius: 0.2em;
}

#contest-filters {
    margin: 1em;
    padding: 1em;
    border: solid grey 1px;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #b8b8b8;
        background: #1c1c1c;
    }
    canvas {
        background-color: #303030;
    }
    a {
        color: #809fff;
    }
    tr, th, td {
        border-color: #181818;
    }
    tr:nth-child(even) {
        background-color: #282828;
    }
    tr:nth-child(odd) {
        background-color: #303030;
    }
    .end-row td {
	border-color: #202020;
    }
    .column-sorted {
	background-color: #484848;
    }
}
